[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -i "%h/wallpapers/kde_mountain.png"
Restart=on-failure
