{{- $email := "jonass.main@proton.me" -}}

data:
  email: {{ $email | quote }}
  packages:
    dnf:
      - fontconfig
      - tmux
      - fzf
      - alacritty
      - zsh
      - git
      - gcr
      - google-noto-color-emoji-fonts
      - google-noto-emoji-fonts
      - google-noto-sans-cjk-fonts
      - google-noto-sans-fonts
      - google-noto-serif-cjk-fonts
      - google-noto-serif-fonts
      - jetbrains-mono-fonts-all
      - neovim
      - niri
      - starship
      - waybar
      - wlsunset
      - wl-clipboard
      - cliphist
      - fuzzel
      - papirus-icon-theme-dark
      - Thunar
      - xdg-desktop-portal-gnome
      - xdg-desktop-portal-gtk
      - xdg-user-dirs
      - swaybg
      - swayidle
      - mako
      - hyprlock
      - fcitx5
      - fcitx5-mozc
      - fcitx5-configtool
      - fcitx5-gtk
      - fcitx5-qt
