@import "colors.css"; 

* {
    border: none;
    border-radius: 0px;
    font-family: JetBrainsMono NFP;
    font-size: 15px;
    min-height: 0px;
}

button {
    box-shadow: inset 0 -2px transparent;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -2px @on_surface;
}

tooltip, #tray menu { 
    background: @background;
    color: @on_background;
}

window#waybar {
    background: @background;
}

#cpu, #memory, #temperature, #bluetooth, #workspaces, #window, #idle_inhibitor, #pulseaudio, #network, #backlight, #battery, #clock, #tray, #custom-power {
    background: @surface_container_high;
    border-radius: 0px;
    margin: 3px 1px;
    color: @on_background;
    padding: 0 5px;
}

#workspaces button {
    padding: 0 4px;
    background: transparent;
}

#workspaces button.focused {
    box-shadow: inset 0 -2px @on_surface;
}

#cpu, #memory, #temperature {
    margin: 3px 0px;
}

#cpu {
    margin-left: 4px;
}
#custom-power {
    margin-right: 4px;
}

#cpu {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
#memory {
    border-radius: 0px;
}
#temperature {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#clock {
    color: @primary;
}

#idle_inhibitor.activated {
    color: @tertiary;
}

#idle_inhibitor.deactivated {
    color: @secondary;
}
