layout {
    border {
	active-color "#8fbcbb"

	inactive-color "#4c566a"

	urgent-color "#bf616a"
    }
    focus-ring {
	active-color "#8fbcbb"

	inactive-color "#4c566a"
    }
    shadow {
	color "#0007"
    }
}

overview {
    backdrop-color "#434c5e"
}
