layout {
    gaps 8

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667

        // Fixed sets the width in logical pixels exactly.
        // fixed 1920
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        off

	width 2
    }

    border {
        on

        width 2
    }

    shadow {
        on

        softness 10

        spread 2

        offset x=0 y=0
    }
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}
