hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

environment {
    TERMINAL "alacritty"
    XCURSOR_THEME "Bibata-Modern-Ice"
    XCURSOR_SIZE "24"
    QT_QPA_PLATFORMTHEME "gtk3"
    XMODIFIERS "@im=fcitx"
}
